/* @font-face {
  font-family: ;
  src: url();
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Apercu Pro;
}
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #152632;
  color: #ffffff;
}
